# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite
env/
venv/
instance/
*.log

# Node
node_modules/
dist/
.build/
.cache/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env
